# Python
__pycache__/
*.py[cod]
*.pyo

# Virtual Environment
venv/
.venv/

# Environment
.env

# Database
*.db
*.sqlite3

# VS Code / editor tools
.vscode/
.clj-kondo/
.lsp/

# PyCharm
.idea/

# Logs
*.log

# Python cache
.pytest_cache/
.mypy_cache/

# OS
.DS_Store
Thumbs.db